# file: secret_config.yaml

jupyterhub:
  proxy:
    secretToken: 8ab358498cadf3e05db75341c3ba9b41d65e565433a6ec17020afe31f2dd7806

  # comment this out if not using github authentication
  auth:
    type: github
    github:
      clientId: 8c195da1b33d7c3653d4
      clientSecret: d19d294ec94c01a92e109f0ec5483ae899b06a06
      callbackUrl: "http://192.171.139.249/hub/oauth_callback"
    scopes:
      - "read:user"
    admin:
      access: true
      users:
        - brtknr
