# file: secret_config.yaml

jupyterhub:
  proxy:
    secretToken: {{ pangeo_secret_token }}

  auth:
    type: dummy
    dummy:
      password: {{ pangeo_password }}
    admin:
      access: true
      users:
{% for user in pangeo_admin_users %}
        - {{ user }}
{% endfor %}
    whitelist:
      users:
{% for user in pangeo_users %}
        - {{ user }}
{% endfor %}
